<div class="wg-contact-info wg-header align-items">
  	<div class="contact_left">
    	<i class="ti-headphone"></i>
     </div>
  	<div class="contact_right">
        <div class="wg-title">{{ section.settings.contact_info }}</div>
        <div class="wg-title mail_contact"><a href="{{ section.settings.link_mail }}">{{ section.settings.title_mail }}</a></div>
    </div>
</div>