<div class="wg-store wg-header">
     <a href="{{ section.settings.linkstore }}" title="{{ section.settings.store_title }}">
          <i class="zmdi zmdi-pin zmdi-hc-fw icon"></i>
          <h5 class="wg-title">{{ section.settings.store_title }}</h5>
      </a>
</div>
