<section id="pageContent">
  	{% include 'breadcrumb-collection' %}
    <div class="container">
        <div class="row">
            {% section 'vela-collection-sidebar' %}
          	{% section 'vela-template-collections' %}
        </div>
    </div>
</section>