<section id="pageContent">
  	{% include 'breadcrumb-page' %}
    <div class="container">
        <div class="pageContainer">
            <div class="pageContent">
                <div class="rte page--about">
                    {% section 'vela-template-about-image' %}
                  	{% section 'vela-template-about-team' %}
                  	{% section 'vela-template-about-policy' %}
                </div>
            </div>
        </div>
    </div>
</section>